.brif
  background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
  background-position: left center, right center
  background-size: 50%, cover
  background-repeat: repeat-y, no-repeat
  padding: 73px 0 83px
  &-block
    display: flex
    margin: 0 auto
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
    padding-left: 212px
    text-align: center
  &__input
    width: 100%
    max-width: 370px
    margin-bottom: 12px
  &-wrap
    width: 100%
    max-width: 370px
    margin-bottom: 12px
  &__button
    height: 70px
    width: 100%
    max-width: 369px
    margin: 17px 0 31px 2px
    font-size: 15px
.interview
  // padding-right: 70px
  &__title
    margin: 25px auto 45px -2px
    font-size: 22px
    line-height: 33px
    +bold
    width: 527px
  &__subtitle
    display: block
    margin-bottom: 94px
    font-size: 16px
  &-list 
    list-style: none
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 26px
      +bold
      &:nth-child(2)
        margin-bottom: 30px
      &:nth-child(3)
        margin-bottom: 30px
        .interview-list__counter 
          margin-top: -13px
      &:last-child
        margin-bottom: 0        
    &__counter
      display: inline-block
      margin-right: 32px
      text-align: center
      line-height: 35px
      width: 35px
      height: 35px
      border: 2px solid $text-color
      font-size: 14px
      border-radius: 50%
    &__text
      max-width: 400px
      line-height: 25px
      font-size: 18px
.form
  &__title
    margin-bottom: 46px
    font-size: 23px
    line-height: 33px
    +bold
    letter-spacing: -0.9px
  &__subtitle
    display: block
    margin-bottom: 49px
    font-size: 16px
  &__description
    display: block
    font-size: 15px
@media (max-width: 1200px)
  .brif
    &__form
      padding-left: 25px
      max-width: 370px
  .interview
    padding-right: 30px
    padding-left: 12px
    &__title
      font-size: 20
      margin-bottom: 15px
      width: 337px
      line-height: 22px
    &__subtitle
      margin-bottom: 30px
    &-list
      &__text
        font-size: 14px
        max-width: 300px
      &__counter
        margin-right: 20px
  .form
    &__title
      font-size: 20
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 30px
@media (max-width: 768px)
  .brif
    background-image: url('../img/brif/brif-color-bg.jpg'), url('../img/brif/brif-bg.jpg')
    background-position: top center, center bottom
    background-size: 100% 46%, cover
    background-repeat: repeat-x, no-repeat
    &-block
      flex-direction: column
    &__form
      margin: 80px auto 0
  .interview
    margin: 0 auto
    padding: 0
  .form
    &__title
      margin: 42px auto 0
@media (max-width: 567px)
  .brif
    background-size: 100% 506px, cover
    padding-top: 41px
    padding-bottom: 30px
    &__input
      max-width: 275px
      width: 100%
      margin-bottom: 6px

    &__button
      max-width: 275px
      width: 100%
      margin: 2px 0 26px
  .interview
    margin: 0 auto
    padding: 0
    &__title
      margin: 1px auto 0 4px
      font-size: 18px
      line-height: 22.35px
      width: 230px
    &__subtitle
      margin: 14px auto 40px 7px
      font-size: 14px
      width: 180px
    &-list 
      margin: 0 auto 0 4px
      &__item
        font-size: 14px
        margin-bottom: 27px
        &:nth-child(2)
          margin-bottom: 19px
        &:nth-child(3)
          margin-bottom: 24px
          .interview-list__counter 
            margin-top: -5px
          .interview-list__text
            width: 189px 
      &__counter
        margin-right: 8px
      &__text 
        width: 241px
        line-height: 17px
  .form
    // margin: 0 auto
    padding: 0
    &__title
      margin: 41px auto 0
      display: block
      font-size: 19px
      line-height: 25.35px
      width: 274px
    &__subtitle
      margin: 23px auto 32px
      font-size: 14px
    &__description
      width: 155px
      line-height: 24px
      margin: 0 auto
