.step
  flex-basis: 20%
  text-align: center
  position: relative
  &:after
    content: ''
    width: 72px
    height: 25px
    position: absolute
    background: url('../img/steps/arrow.png') no-repeat center
    top: -10px
    right: -15%
  &:last-child
    &:after
      display: none
  &__image
    width: 100px
    height: 100px
    border: 3px solid $main-color
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    border-radius: 50%
  &__text
    font-size: 14px
    max-width: 152px
    margin: 28px auto 0
    line-height: 19px
  &s
    padding: 38px 0 96px
    &__title
      margin: auto
      margin-bottom: 46px
      width: 654px
      font-size: 30px
      line-height: 46px
      +bold
    &__subtitle
      text-align: center
      margin-bottom: 67px
      font-size: 20px
    &-block
      display: flex
      flex-wrap: wrap
  .container
    margin-top: 0

@media (max-width: 1200px)
  .step
    margin-bottom: 30px
    flex-basis: 50%
    &:after
      display: none
    &s 
      padding: 0
      &__title
        width: 550px
      &-block
        display: flex
        justify-content: center
@media (max-width: 768px)
  .step
    margin-bottom: 30px
    &:after
      display: none
    &s 
      padding: 21px 0 45px
      &-block
        flex-direction: column
      &__title
        width: 350px
        font-size: 18px
        line-height: 21px
        margin: 0 auto 25px
      &__subtitle
        margin-bottom: 34px
        font-size: 14px
@media (max-width: 567px)
  .step
    &:nth-child(n+2)
      .step__text
        margin-top: 32px
    &:nth-child(4)
      .step__text
        margin-top: 31px
        line-height: 15px
    &:nth-child(5)
      .step__text
        margin-top: 28px
    &__text
      margin-top: 22px
      line-height: 14px
      font-size: 13px
    &s
      &__title
        width: 250px
      //   font-size: 18px
      //   line-height: 1.4
      //   margin: 0 auto 27px
      // &__subtitle
      //   margin-bottom: 34px